body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
div.container{
  margin-left:0px;
  padding:0px;
}

.bg-primary {
  background-color: #133e6c !important;
}
.navbar-logo {
  height: 30px;
  margin-left: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  overflow:hidden;
  height: 100vh;
  width: 100vw; 
}
.navbarToggler {
  margin-left: auto;
  cursor: pointer;
}
button.navbar-toggler{
  color:transparent;
  border: none;
}
.hamburgerIcon {
  margin-right: 10px;;
  color: white; 
}

.hamburgerIcon:hover{
  background-color:#b9b9b9;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right:10px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none;
 
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu .nav-link {
  color: #000;
  padding-left: 10px;
  padding-right: 10px;

}
.dropdown-menu .nav-link:hover{
  background-color: #cfcfcf;
}

.background-container {
  flex: 1;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;;
}

.btn {
  background-color: #133e6c;
  min-width: 150px; 
  min-height: 50px;
  margin: 5px;
}
.btn:hover{
  background-color: #1e5794;
}