/* styles.css */

.logoImg {
    height: 40px;
    /* Adjust logo size */
}

.navText {
    color: white;
    /* Text color */
    font-weight: bold;
    margin: 0 15px;
    /* Margin for spacing */
}