.table-scroll {
    max-height: 300px; 
    overflow-y: auto;
  }
  
  .table-scroll table {
    width: 100%;
  }
  
  .mainDiv{
    
  
    margin: 0; 
    padding: 0;
  }
  .headerStation {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
   
    margin-bottom: 10px;
    border:none;
  
  
  }
  
  .header-item {
    display: flex;
    flex-direction: column;
    padding:0;
    width: 15%;
    border:none;
  
    box-sizing: border-box; 
  }
  
  .header-item label {
    display: block;
    margin: 0; 
    padding: 5px;
    font-size: 14px;
    background-color: #1a3654;
    color: white;
    
    width: 100%; 
    box-sizing: border-box; }
  
  .header-item input {
    padding: 6px;
    margin: 0; 
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    color: black;
    width: 100%; 
    box-sizing: border-box; }
  
  .th th {
    position:sticky;
    top: 0;
    background-color: #133e6c; 
    color:white;
    z-index: 10;
  }
  .buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #0d3968;
    background-color: #133e6c;
    color: white;
    border-radius: 3px;
    margin: 0 10px;
  }
  
  .buttons button:hover {
    background-color: #244f7d;
  }
  