.react-datepicker-wrapper {
    width: 100%;
    display: block;
}

.react-datepicker-popper {
    z-index: 10000;
}

.modal.show {
    z-index: 13001;
}

.modal-backdrop.show {
    z-index: 13000;

}

.cursor-pointer {
    cursor: pointer !important;
}


.half-height-box {
    display: flex;
    width: 80%;
    /* Width of the half-height box */
    max-width: 800px;
    /* Optional max-width */
    /* height: 50% */
    /* Half of the viewport height */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional border radius */
}

.genealogy-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark backdrop */
    z-index: 10050;
    /* On top of all elements */
}

.gen-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
    /* Scroll if content is too long */
    position: relative;
}

.gen-btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    border: none;
    background: none;
}

.scrollable-modal-body {
    max-height: 400px;

    overflow-y: auto;

}