.react-datepicker-wrapper {
    width: 100%;
    display: block;
}

.react-datepicker-popper {
    z-index: 10000;
}

.modal.show {
    z-index: 13001;
}

.modal-backdrop.show {
    z-index: 13000;

}

.cursor-pointer {
    cursor: pointer !important;
}


.half-height-box {
    display: flex;
    width: 80%;
    /* Width of the half-height box */
    max-width: 800px;
    /* Optional max-width */
    /* height: 50% */
    /* Half of the viewport height */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional border radius */
}

.btn {
    transform: scale(1);
}

.btn:hover {
    animation: scale-down 0.4s ease-in-out;
}

@keyframes scale-down {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.90);
        /* Scale down */
    }

    100% {
        transform: scale(1);
        /* Return to original size */
    }
}